:root{
    --dark_slate_grey: hsl(234, 29%, 20%);
    --charcoal_grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%);
    --pink: hsl(346, 100%, 66%);
    --tomato: hsla(4, 100%, 66%, 0.212);

}
@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype'),
         url('assets/fonts/Roboto-Bold.ttf') format('truetype'),
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "roboto";
}
button{
    border: none;
}

.button_main{
    background-color: var(--dark_slate_grey);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 250ms;
    height: 60px;
    border-radius: 8px;
}
.button_main:hover{
    background-image: linear-gradient(to right, var(--pink) , var(--tomato));
    box-shadow: 0 5px 15px var(--tomato);
}

body{
    background-color: var(--charcoal_grey);
    display: grid;
    place-items: center;
    height: 100vh;
}

main{
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 60px;
    grid-template-columns: 50% 50%;
    background-color: var(--white);
    width: min(900px, 90%);
    min-height: 650px;
    border-radius: 35px;
    transition: 500ms;
}

.form_section{
    display: grid;
    gap: 30px;
}
.form_section header h1{
    color: var(--dark_slate_grey);
    font-size: 3.5rem;
    font-weight: bold;
}
.form_article{
    display: grid;
    gap: 30px;
}
.form_article .sub_header{
    width: 90%;
}
.form_article p{
    color: var(--dark_slate_grey);
}
.form_list{
    display: grid;
    gap: 10px;
}
.form_list li>p {
    display: flex;
    align-items: center;
}
.form_list li>p>span {
    margin-left: 15px;
}

.subscribe_form, .subscribe_form .input_wrapper{
    display: grid;
}
.subscribe_form{
    gap: 30px;
}
.subscribe_form .input_wrapper{
    gap:8px;
}
.subscribe_form label{
    color: var(--dark_slate_grey);
    font-weight: bold;
    font-size: 0.8rem;
}
.subscribe_form .email_input{
    border: 1px solid var(--grey);
    padding-left: 20px;
}
.subscribe_form .email_input{
    border-radius: 8px;
    height: 60px;
}
.input_wrapper{
    position: relative;
}
.input_wrapper .input_error{
    position: absolute;
    right: 0;
    color: var(--tomato);
    display: none;
}
.img_section{
    display: flex;
    justify-content: end;
    height: 90%;
    width: 85%;
}
.img_section .desktop_img, .img_section .mobile_img{
    height: 100%;
    object-fit: fill;
}
.img_section .mobile_img{
    display: none;
}

.success_section{
    display: none;
    gap: 20px;
    grid-column: 1/3;
    padding-right: 60px;
    color: var(--dark_slate_grey);
}
.success_section ._wrapper{
    display: grid;
    gap: 20px;
}
.success_section ._wrapper .header{
    font-size: 4rem;
    font-weight: bold;
}
.email_span{
    font-weight: bold;
}


@media (max-width: 920px) {
    main{
        grid-template-columns: 100%;
        padding-left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
        grid-template-rows: 6;
    }
    .img_section{
        grid-row: 1;
        height: 100%;
        justify-content: center;
        width: 100%;
        grid-row: 1;
    }
    .img_section .desktop_img{
        display: none;
    }
    .img_section .mobile_img{
        display: block;
    }
    .form_section{
        grid-row: 2/6;
        padding-left: 30px;
        padding-right: 30px;
    }

    .success_section{
        gap: 300px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 450px) {
    .img_section .mobile_img{
        width: 100%;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .form_article h1{
        font-size: 2.5rem;
    }
    .success_section ._wrapper .header{
        font-size: 3rem;
    }
}
